/* You can add global styles to this file, and also import other style files */




$theme-colors: (
  "primary": hsl(229, 25%, 31%),
  "dark-text": hsl(229, 25%, 31%),
);

@import "node_modules/bootstrap/scss/bootstrap";

body {
  background: radial-gradient(ellipse at top, #1F3757, #131537);
  background-attachment: fixed;
  font-family: 'Barlow Semi Condensed', sans-serif;
}